/* .center-text
{
    text-align: center;
}
.text-check
{
    color: #07adb3;
}
hr.text-center
{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    border: 0.2px solid rgb(244, 248, 250);
} */

.services {
	border-radius: 2px;
	margin: 3px;
	padding: 1rem 0;
}
.services {
	background: linear-gradient( #fff, #ffffff);
	text-align: center;
}
.services-center {
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 50px;
}
.service span {
	display: inline-block;
	color: #07adb3;
	/* color: var(--primaryColor); */
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
.services h6 {
	letter-spacing: var(--mainSpacing);
}
.services p {
	width: 80%;
	margin: 0 auto;
}
@media screen and (min-width: 992px) {
	.services-center {
		width: 95vw;
		max-width: 1170px;
	}
}

@media screen and (min-width: 1200px) {
	.services p {
		width: 100%;
	}
}